*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    user-select: none;   
    /* transition: all 0.3s ease; */
}

#bl{
    position: absolute;
    top: 70%;
}
body{
    background-color: black;
}
.container1{
    background-color: rgb(0, 0, 0);
    position: relative;
    padding:  0 0;    
}
.header{
    height: 10vh;   
    background:radial-gradient(rgba(230, 204, 115, 1),rgba(230, 203, 115, 0.824),rgba(148, 114, 57, 1),rgba(85, 66, 39, 1));
    box-shadow: 0px 0px 20px rgba(237, 205, 99, 0.398);
    top: 0;
    margin: 0 0;
    padding: 0;
}
.nv{
    padding: 0 10px;
}
@media (min-width: 992px) {
    .nv{
        background-color:transparent!important;
        height: 100%;
    }
    .modal-content{
        width: 530px;
    }
    .data{
        font-size: 20px;
    }
}
@media (max-width: 992px){
    .nv{
        background: radial-gradient(rgba(230, 204, 115, 1), rgba(230, 203, 115, 0.824), rgba(148, 114, 57, 1), rgba(85, 66, 39, 1));
        box-shadow: 0px 0px 20px rgba(237, 205, 99, 0.398);
        padding-bottom: 10px;
    }
    .modal-content {
            width: 80%;
    }
    .data {
            font-size: 20px;
    }
    
}
@media (max-width: 678px) {
    .modal-content {
        width: 90%;
    }
    .data{
        font-size: 15px;
        
    }
}

.head{
    padding: 0;
}
.logo{
    height: 100%;
}
.logo img{
    height: 60px;
}
.nav-bar{ 
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a{   
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.500);
    height: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
}
.dropdown-menu{
    background: radial-gradient(rgba(230, 204, 115, 1), rgba(230, 203, 115, 0.824), rgba(148, 114, 57, 1), rgba(85, 66, 39, 1));
    box-shadow: 0px 0px 20px rgba(237, 205, 99, 0.398);
}
.input1{ 
    background-color: rgba(0, 0, 0, 0.297);   
    font-size: 20px;
    padding: 0;
    padding-left: 10px;
    border-radius: 10px;
}
.d-flex{
    justify-content: center;
}
.btn1{
    color: rgb(255, 255, 255);    
    font-size: 15px;
    padding: 5px 5px;    
    border-radius: 10px;
    height: 35px;
    width: 100%;
    background: radial-gradient(rgba(230, 204, 115, 0.3), rgba(230, 203, 115, 0.4), rgba(148, 114, 57, 0.6), rgba(85, 66, 39, 0.9));
    box-shadow: 0px 0px 20px rgba(237, 205, 99, 0.398);
    border: 1px solid rgba(230, 204, 115, 1);
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
}
.btn1:hover{
    scale: 105%;
}
.btn2{
filter: invert(100%) sepia(1%) saturate(7497%) hue-rotate(40deg) brightness(108%) contrast(101%);
height: 35px;
}

 ::placeholder{
    color: rgba(0, 0, 0, 0.666);
}
.nav-bar a:hover{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
}
.background{
    position: relative;
    margin-top: 10vh;
    height: 80vh;
    background-image: url("images/background.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    
}
.content{
    display: flex;
    flex-wrap: wrap;    
    padding-bottom: 20vh;
}
.box1{
    display: flex;
    justify-content: center;
}
.box{
    margin-top: 50px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.imgdiv{
    height: 250px;
    width: 160px;
    background-size: cover;
    border-radius: 10px;
}

.info{    
    color: rgba(230, 204, 115, 1);
    font-size: 20px;
    width: 60%;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(230, 204, 115, 1);
}
.box:hover{
    scale: 110%;
    /* filter: brightness(0.5); */
}
.box{
    transition: all 0.3s ease;
}
.price{
    position: absolute;
    top:110px;
    display: flex;
    flex-direction: column;
    color: rgba(230, 204, 115, 1);
    text-shadow: 2px 2px 5px rgba(230, 204, 115, 1);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    
}
.nothingwasfound{
    color: rgba(230, 204, 115, 1);
    text-shadow: 2px 2px 5px rgba(230, 204, 115, 1);
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    height: 20vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nothingwasfound img{
    filter: invert(100%) sepia(20%) saturate(5950%) hue-rotate(320deg) brightness(98%) contrast(87%);
    height: 40px;
}
.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.modal-content{
    background: radial-gradient(rgba(230, 204, 115, 0.8), rgba(230, 203, 115, 0.8), rgba(148, 114, 57,0.9), rgba(85, 66, 39, 1));
    box-shadow: 0px 0px 20px rgba(237, 205, 99, 0.398);
    /* height: 60vh; */
    min-height: 475px;
    margin: 20vh auto;
    padding: 10px 20px;
    color: rgba(230, 204, 115, 1);
    text-shadow: 2px 2px 5px rgba(230, 204, 115, 1);
    font-size: 30px;
    
}
.modalhead{
display: grid;
grid-template-columns: repeat(20,1fr);
min-height: 10%;
justify-content: center;
}
.skin-name{
    grid-column: span 18;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}
.close-modal-btn{
    background-color: unset;
    border: 0;
    font-size: 30px;
    grid-column: span 2;
    text-align: end;
    color: rgb(47, 47, 47);
    font-weight: bold;
 }
.close-modal-btn:hover {
     color: black;
  }
.modalcontent{
    display: flex;
    height: 90%;
   gap: 20px;
}

.data{
   width: 55%; 
   /* font-size: 20px;
   color: black; */
   padding-top: 50px;
   line-height: 40px;
   text-shadow: none;
   display: flex;
   flex-direction: column;
}
.data-img{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.infoimg{
    height: 430px;
    scale: 105%;
    
}
.span{
    color: rgb(245, 201, 56);
    font-weight: 700;
}
.btn3{
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    height: auto;
    width: 80%;
    background: radial-gradient(rgb(205, 181, 102), rgb(164, 143, 82), rgba(148, 114, 57, 1), rgba(85, 66, 39, 1));
    /* background-color: rgba(36, 232, 82, 1); */
    box-shadow: 0px 0px 10px rgba(1, 2, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.5) ;
    margin: 13px auto;
    align-self: flex-end;
}
.btn3:hover{
    scale: 105%;
}
.sub{
    line-height: normal;
    font-size: 13px;
}