*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
body{
    background-color: black;
}
.container1{
    background-color: rgb(0, 0, 0);
    padding:  0 0;    
}
.header{
    height: 10vh;   
    background:radial-gradient(rgba(230, 204, 115, 1),rgba(230, 203, 115, 0.824),rgba(148, 114, 57, 1),rgba(85, 66, 39, 1));
    box-shadow: 0px 0px 20px rgba(237, 205, 99, 0.398);
    top: 0;
    margin: 0 0;
    padding: 0;
}
.nv{
    padding: 0 10px;
}
@media (min-width: 992px) {
    .nv{
        background-color:transparent!important;
        height: 100%;
    }
}
@media (max-width: 992px){
    .nv{
        background: radial-gradient(rgba(230, 204, 115, 1), rgba(230, 203, 115, 0.824), rgba(148, 114, 57, 1), rgba(85, 66, 39, 1));
        box-shadow: 0px 0px 20px rgba(237, 205, 99, 0.398);
        padding-bottom: 10px;
    }
}

.head{
    padding: 0;
}
.logo{
    height: 100%;
}
.logo img{
    height: 60px;
}
.nav-bar{ 
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a{   
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.500);
    height: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
}
.dropdown-menu{
    background: radial-gradient(rgba(230, 204, 115, 1), rgba(230, 203, 115, 0.824), rgba(148, 114, 57, 1), rgba(85, 66, 39, 1));
        box-shadow: 0px 0px 20px rgba(237, 205, 99, 0.398);
}
.input1{ 
    background-color: rgba(0, 0, 0, 0.297);   
    font-size: 20px;
    padding: 0;
    padding-left: 10px;
    border-radius: 10px;
}
.d-flex{
    justify-content: center;
}
.btn1{
    border: 2px solid rgb(61, 51, 17);
    background-color: rgb(100, 77, 37);
    color: rgb(255, 255, 255);    
    font-size: 15px;
    padding: 5px 5px;    
    border-radius: 10px;
}
.btn1:hover{
    scale: 105%;
}
 ::placeholder{
    color: rgba(0, 0, 0, 0.666);
}
.nav-bar a:hover{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
}
.background{
    margin-top: 10vh;
    height: 80vh;
    background-image: url("images/background.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    
}
.content{
    display: flex;
    flex-wrap: wrap;    
}
.box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.imgdiv{
    height: 250px;
    width: 140px;
    background-size: cover;
    border-radius: 10px;
}

.info{    
    color: rgba(230, 204, 115, 1);
    font-size: 20px;
    width: 60%;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(230, 204, 115, 1);
}
.box:hover{
    scale: 105%;
    /* filter: brightness(0.5); */
}
.price{
    position: absolute;
    top:185px;
    display: flex;
    color: rgba(230, 204, 115, 1);
    text-shadow: 2px 2px 5px rgba(230, 204, 115, 1);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    
}
